html {
    background: lightgrey;
    font-family: monospace;
    text-align: center;
}

input, #def {
    margin: 0%;
    font-size: 8vw;
    text-align: center;
    border: none;
}

hr {
    margin: 1%;
}

mark, figure, button {
    background-color: white;
    border: none;
}

#images {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

h2, img {
    display: inline;
    width: 78.14%;
    height: 78.14%;
    font-size: 11.5vw;
    font-family: sans-serif;
    font-weight: normal;
}

figure {
    height: 20vw;
    width: calc(100% / 6);
    margin: 0;
    font-size: 2vw;
}

button {
    width: 10vw;
    padding: 2%;
    margin: 0% 2% 0% 2%;
    font-size: 2vw;
}