html {
    background: lightgrey;
    text-align: center;
}

input, #def {
    text-align: center;
    border: none;
    font-size: 8vw;
    margin: 0%;
}

mark {
    background-color: white;
}

#images {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2, img {
    width: 10vw;
    height: 10vw;
    font-size: 10vw;
    margin: 4% 0% 4% 0%;
}

figure {
    padding: 1%;
    margin: 0;
}

h2 {
    transform: translate(0, -30%);
}

button {
    padding: 2%;
    margin: 0% 2% 0% 2%;
}